<section class="page-section bg-primary text-white mb-0" id="about">
    <div class="container">
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-white">About Current Job In BOG</br> Advanced IT
            Quality Assurance Engineer</h2>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content-->
        <div class="row">
            <div class="col-lg-4 ms-auto">
                <p class="lead">
                    *Perform Functional, Non-Functional and Maintenance testing </BR>
                    *Communicate with PO, Developers and Business Analysts for all project updates and test statuses </BR>
                    *Create and maintain clear documentation of test cases, overall product, as well as specific modules 
                </p>
            </div>
            <div class="col-lg-4 me-auto">
                <p class="lead">*Provide continuous support for development, implementations and maintenance of the
                    product </BR>
                    *End-to-End testing including Database/API/Front/Design </BR>
                    *Spectate/Control every deployment</p>
            </div>
        </div>

    </div>
</section>