<footer class="footer text-center">
  <div class="container">
    <div class="row">
      <!-- Footer Location-->
      <div class="col-lg-4 mb-5 mb-lg-0">
        <h4 class="text-uppercase mb-4">Contact Info</h4>
        <p class="lead mb-0">
          +995 577603716
          <br />
          rkapanadze98@gmail.com
        </p>
      </div>
      <!-- Footer Social Icons-->
      <div class="col-lg-4 mb-5 mb-lg-0">
        <h4 class="text-uppercase mb-4">Around the Web</h4>
        <a class="btn btn-outline-light btn-social mx-1" href="https://www.facebook.com/Rezo125"><i
            class="fab fa-fw fa-facebook-f"></i></a>
        <a class="btn btn-outline-light btn-social mx-1"
          href="https://www.linkedin.com/in/revaz-kapanadze-780172187/"><i class="fab fa-fw fa-linkedin-in"></i></a>
        <a class="btn btn-outline-light btn-social mx-1" href="https://github.com/RevazKapanadze"><i
            class="fab fa-fw fa-dribbble"></i></a>
      </div>
      <!-- Footer About Text-->
      <div class="col-lg-4">
        <h4 class="text-uppercase mb-4">Key Skills</h4>
        <p class="lead mb-0">
          C# Typescript Python </br>
          ASP.Net Html Css  </br>
          SQL PL/SQL MS/SQL  </br>
          Postman GitHub BrowserStack  </br>
          Jira Confluence Slack Link MSOffice  
        </p>
      </div>
    </div>
  </div>
</footer>